body{
  width: 300px;
  height: 150px;
  padding: 16px;
}

#input{
  max-width: 100px;
  margin-right: 8px 
}

#go{
  margin-right: 8px;
}

#clear-all{
  margin-left: 120px;
}

.second-line{
  margin-top: 12px;
}
.third-line{
  margin-top: 12px;
}