*{
  font-family: arial, sans-serif;
  background-color: black;
}
.title{
  color: #ffffff;
  vertical-align: middle;
}
.icon-parent{
  text-align: center;
}
.icon{
  width: 70%;
  height: 70%;
  display: inline-block; 
}
#main-iframe{
  height:304px;
  width:99%;
  max-width:99%;
  border-width: 0px;
}

.ver-info{
  top: 24px;
  font-size: 14px;
  position: fixed;
  color: #ffffff;
}

body{
  width: 320px;
  height: 382px;
}